<p *ngIf="isLoading">Loading...</p>
 
<div class="m-20">
    <form [formGroup]="FG">
 
        <label>User's Mobile</label>
        <input type="text" formControlName="mobile">
        <br/>
        <label>User's Email</label>
        <input type="text" formControlName="email">
        <br/>
        <label>Seats</label>
        <input type="number" formControlName="seats">
        <br/>
        <label>Total amount</label>
        <input type="text" formControlName="paid">
        <br/>
        <label>Movie (autoselected)</label>
        <input type="number" formControlName="movieId">
    </form>
 
    <button (click)="onSubmit()">Submit</button>
</div>

